<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>IGDown - Instagram downloader</title>
    {% load static %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <link rel="stylesheet" href="{% static 'downloader/styles/style.css' %}">
</head>
<body>
    <main>
        <div class="row white-text">
            <div class="col s12 center">
                <h1>IGDown</h1>

                <div class="row">
                    <form action="{% url 'downloader:download' %}" method="POST" class="col s4 offset-m4" id="download_form">
                        {% csrf_token %}

                        <div class="input-field col s12">
                            <i class="material-icons prefix">insert_link</i>
                            <input type="url" name="download_url" id="download_url" required="required" />
                            <label for="download_url">Enter Instagram media URL</label>
                        </div>

                        <button type="submit" class="waves-effect waves-light btn-large">
                            Download
                            <i class="material-icons right">file_download</i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>
